<h1>Sign In Here</h1>

<form action="/authenticate">
  <label>Name:</label>
  <input name="name" type="text">
  <br>
  <label>Password:</label>
  <input name="password" type="text">
  <br>
  <input type="submit">
</form>

