<div class="page-header">
  <h1>Sign Up</h1>
</div>

<form action="/create" class="col-md-4">

  <div class="form-group">
    <label class="control-label">Enter Your Name:</label>
    <input name="name" type="text" class="form-control input-md">
  </div>

  <div class="form-group">
    <label>Enter a Password:</label>
    <input name="password" type="text" class="form-control input-md">
  </div>

  <button type="submit" class="btn btn-success btn-md">Submit</button>
  or
  <a href="/">Cancel</a>
</form>
